<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>0423javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- 세션이 2분동안 사용되지 않으면 초기화되도록 해주는 설정 -->  
<session-config>
	<session-timeout>2</session-timeout>
</session-config>

<!-- 404에러가 발생한 경우 출력할 에러페이지를 설정 -->
<error-page>
	<error-code>404</error-code>
	<location>/error/404error.jsp</location>
</error-page>
 
 <!-- NumberFormatException이 발생한 경우 출력할 에러 페이지를 설정 --> 
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/error/number.jsp</location>
  </error-page>
  
</web-app>